@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.ant-menu-item-selected {
  background: rgba(27, 92, 177, 0.18) !important;
  color: #6089da !important;
}


/* Normal menu items */
.ant-menu-item {
  color: rgb(40, 85, 198) !important;
}

/* Hover */
.ant-menu-item:hover {
  color: rgb(40, 85, 198) !important;
}
 
/* Selected item */
.ant-menu-item-selected {
  color: rgb(40, 85, 198) !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
