.admin-footer {
  height: 30px;
  background: #ffffff;
  border-top: 1px solid #f0f0f0;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  color: #8c8c8c;
}
